.sobre {

  .header {
    background-color: color($colors, escura);
    padding: 16px;
    width: 100%;
    min-height: 150px;
    text-align: center;
  }

  .header img {
    max-width: 200px;
    min-height: 115px;
    margin-left: -15px;
    padding: 25px 0 20px 0;
  }

  .info p {
    color: #697072;
    text-align: justify;
  }

  .info ion-icon {
    color: color($colors, primary);
    width: 20px;
  }

  .md,
  .wp {
    .info [text-right] {
      margin-right: 0;
    }
  }

  .ios .info {
    text-align: center;
  }

  .ios .info ion-icon {
    width: auto;
    margin-right: 10px;
  }

}
