.mapa-pagina {

  ion-content {
    background: rgb(56, 126, 245);
  }

  #mapa {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  #mapa.mostra-mapa {
    opacity: 1;
  }

}
