.entrar-pagina {

  .logo {
    padding: 20px 0;
    min-height: 120px;
    text-align: center;
    background-color: color($colors, escura);
  }

  .logo img {
    max-width: 200px;
  }

}
